smtpd_banner = $myhostname ESMTP $mail_name
biff = no
append_dot_mydomain = no
readme_directory = /usr/share/doc/postfix
html_directory = /usr/share/doc/postfix/html
compatibility_level = 2

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination

# Network Configuration

myhostname = {{ my_fqdn }}
myorigin = /etc/mailname
mydestination = $myhostname, {{ my_fqdn }}, localhost.{{ my_domain }}, localhost
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
inet_interfaces = all
inet_protocols = all
home_mailbox = {{ maildir }}/
{% if relayhost is defined %}
relayhost = {{ relayhost }}
{% endif %}
{% if do_ssl or do_ssl_ami %}
# SSL configuration. Added when do_ssl is true in ansible role
smtpd_tls_cert_file={{ postfix_crtdir }}/{{ postfix_cert_file }}
smtpd_tls_key_file={{ postfix_keydir }}/{{ postfix_key_file }}
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_tls_mandatory_protocols = {{ my_tls_protocols }}
smtpd_tls_protocols = {{ my_tls_protocols }}
smtpd_tls_exclude_ciphers = aNULL, LOW, EXP, MEDIUM, ADH, AECDH, MD5,
                            DSS, ECDSA, CAMELLIA128, 3DES, CAMELLIA256,
                            RSA+AES, eNULL
{% endif %}
{% if do_sasl_inbound is sameas true or outbound_sasl_maps is defined %}

# Start of the SASL configuration
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
{% endif %}
{% if do_sasl_inbound is sameas true %}

# Inbound SMTP authentication; requires dovecot to be installed
# and configured for SASL authentication.
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_local_domain = {{ my_fqdn }}
{% endif %}
{% if outbound_sasl_maps is defined %}
# SASL maps to login to remote systems
smtp_sasl_mechanism_filter = login
smtp_sasl_password_maps = hash:{{ postfix_sasl_maps }}
{% endif %}

# Virtual mailboxes
{% if do_vdomain_postfix_ldap is sameas true %}
virtual_mailbox_maps = ldap:{{ postfix_ldapdir }}/vmailbox_maps.cf
virtual_mailbox_domains = {{ virt_mbox_domain | default(ansible_fqdn) }}
virtual_alias_domains = ldap:{{ postfix_ldapdir }}/valias_domains.cf
virtual_alias_maps = ldap:{{ postfix_ldapdir }}/valias_maps.cf
virtual_mailbox_base = /
virtual_uid_maps = ldap:{{ postfix_ldapdir }}/vuid_maps.cf
virtual_gid_maps = ldap:{{ postfix_ldapdir }}/vgid_maps.cf
smtpd_sender_login_maps = ldap:{{ postfix_ldapdir }}/smtp_sender_maps.cf
{% endif %}
# Posfix maps

{% if do_ldap is sameas false %}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
{% else %}
alias_maps = hash:/etc/aliases ldap:{{ postfix_ldapdir }}/lookup.cf
{% endif %}
{% if generic[my_fqdn] is defined %}
smtp_generic_maps = hash:{{ postfix_generic_maps }}
{% endif %}
mailbox_size_limit = 0
recipient_delimiter = +
